th {
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  empty-cells: show;
  padding: 5px;
}

tr:nth-child(1) {
  background-color: lightskyblue;
}
tr:nth-child(2) {
  background-color: skyblue;
}

tr:nth-child(4) {
  background-color: lightskyblue;
}
tr:nth-child(11) {
  background-color: lightgrey;
}
